<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WareHouse.Statement.Properties.Settings.storemanageConnectionString"
            connectionString="Data Source=SOFTWARE-PC;Initial Catalog=storemanage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>